$color-primary: #16a085;
$color-danger: #e74c3c;
$color-secondary: #e67e22;
$color-info: #2980b9;

$color-grey-light-1: #eee;
$color-grey-light-2: rgb(211, 211, 211);
$color-grey-light-3: #718093;
$color-grey-dark-1: #999;
$color-grey-dark-2: #414346;
$color-grey-dark-3: #333;

$color-black: #000;
$color-white: #fff;

$bp-largest: 78.125em;
$bp-large: 59.375em;
$bp-medium: 43.75em;
