.u-center-text {
  text-align: center !important;
}

.container {
  padding: 5rem;
}

.container-sm {
  padding: 10px;
}

.u-mb-sm {
  margin-bottom: 1.5rem !important;
}

.u-mb-md {
  margin-bottom: 4rem !important;
}

.u-mb-lg {
  margin-bottom: 6rem !important;
}

.u-mt-sm {
  margin-top: 1.5rem !important;
}

.u-mt-md {
  margin-top: 4rem !important;
}

.u-mt-lg {
  margin-top: 6rem !important;
}
